<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUERTOS VECINOS</title>
    {% load static %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/stylecarrusel.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-50oHX6J2dXrZhOi2BAeA4YRAwqHOo5s5b6F8+cTqnY0pUv9jeWzdBnFViGQdGPfXzCcQ6iViH9c47XGyIc3XpOg==" crossorigin="anonymous" />


</head>
<body id="fondocolor">
    
<!-- SECCION CABEZERA  -->

<header>
    <div class="header-1" id="header11">

        <div class="share" id="header-1">
            <span id="span1"> Siguenos : </span>
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" id="reloj"></a>
            <button type="button" class="btn btn-secondary" onclick="cambiarColorDivs()">Cambiar color</button>

            
        </div>
        <script src="{% static 'js/modooscuro.js' %}" ></script>
    <script src="{% static 'js/reloj.js' %}"></script>

        <div class="call">
            <span> Contactanos : </span>
           
            <a>+569 0000 000</a>
        </div>

    </div>

    <div class="header-2" id="header22">

        <a href="#" class="logo"> <i class="fas fa-seedling"></i> HUERTOS VECINOS </a>

        <form action="" class="search-bar-container">
            <input type="search" id="search-bar" placeholder="Buscar....">
            <label for="search-bar" class="fas fa-search"></label>
        </form>

    </div>

    <div class="header-3" id="header33">

        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <a>Inicio</a>
            <a href="{% url 'AgregarProducto'  %}">Agregar producto</a>
        </nav>

        <div class="icons">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                Ver carro
              </button>
              
              <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="staticBackdropLabel">Carrito de compras</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div>
                    Productos seleccionado: 
                  </div>
                </div>
              </div>
            <a href="#" class="fas fa-user-circle"></a>
        </div>

    </div>

</header>
<script src="{% static 'js/script.js' %}"></script>
<!-- TERMINO SECCION CABEZERA -->

<!-- INICIO CARRUSEL-->

<div class="slider-frame">
    <ul>
        <li><img src="static/images/carrusel1.jpg" alt=""></li>
        <li><img src="static/images/carrusel2.jpg" alt=""></li>
        <li><img src="static/images/carrusel3.jpg" alt=""></li>
    </ul>
</div>


<!-- TERMINO CARRUSEL-->

<!--INICIO SECCION CATEGORIA-->

<div class="container mt-5 mb-5">
    <h3>Plantas</h3>
</div>

<div class="container">
    <div class="row">
    {% for p in plantas %}

        <div class="col-sm-3">
            <div class="card ml-3" style="width: 18rem;">
                <small>ID:{{p.id_producto}}</small>
                <img src="{{p.imagen.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{p.nombre}}</h5>
                  <p class="card-text">{{p.descripcion}}</p>
                  <h3>Valor: {{p.valor}}</h3>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
              </div>
        </div>

      {% endfor %}
    </div>
</div>



<div class="container mt-5 mb-5">
    <h3>Maceteros</h3>
</div>

<div class="container">
    <div class="row">
    {% for p in maceteros %}

        <div class="col-sm-3">
            <div class="card ml-3" style="width: 18rem;">
                <small>id:{{p.id_objeto}}</small>
                <img src="{{p.imagen.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{p.nombre}}</h5>
                  <p class="card-text">{{p.descripcion}}</p>
                  <h3>Valor: {{p.valor}}</h3>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
              </div>
        </div>

      {% endfor %}
    </div>
</div>
<div class="container mt-5 mb-5">
    <h3>Flores</h3>
</div>

<div class="container">
    <div class="row">
    {% for p in flores %}

        <div class="col-sm-3">
            <div class="card ml-3" style="width: 18rem;">
                <small>SKU:{{p.id_objeto}}</small>
                <img src="{{p.imagen.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{p.nombre}}</h5>
                  <p class="card-text">{{p.descripcion}}</p>
                  <h3>valor: {{p.valor}}</h3>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
              </div>
        </div>

      {% endfor %}
    </div>
</div>
<div class="container mt-5 mb-5">
    <h3>Accesorios</h3>
</div>

<div class="container">
    <div class="row">
    {% for p in accesorios %}

        <div class="col-sm-3">
            <div class="card ml-3" style="width: 18rem;">
                <small>SKU:{{p.id_objeto}}</small>
                <img src="{{p.imagen.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{p.nombre}}</h5>
                  <p class="card-text">{{p.descripcion}}</p>
                  <h3>valor: {{p.valor}}</h3>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
              </div>
        </div>

      {% endfor %}
    </div>
</div>



<!--FIN SECCION CATEGORIA-->
<!--INICIO SESION ICONOS-->
<section class="icons-container">

    <div class="icon">
        <img src="static/images/icon1.png" alt="">
        <div class="content">
            <h3>Envios</h3>
            <p>A todo el pais</p>
        </div>
    </div>
    <div class="icon">
        <img src="static/images/icon2.png" alt="">
        <div class="content">
            <h3><A>Aseguramos</A></h3>
            <p>tu compra con garantia</p>
        </div>
    </div>
    <div class="icon">
        <img src="static/images/icon3.png" alt="">
        <div class="content">
            <h3>Puedes pagar</h3>
            <p>Con todo medio de pago</p>
        </div>
    </div>
    <div class="icon">
        <img src="static/images/icon4.png" alt="">
        <div class="content">
            <h3>Horario</h3>
            <p>Atencion desde 08:00am hasta 18:00pm</p>
        </div>
    </div>
</section>
<!--FIN SECCION ICONOS-->

<!--INICIO SECCION CONTACTO-->
<section class="contact" id="contact">

    <h1 class="heading">¿Deseas suscribirte?</h1>
    <h1>Ayuda a necesitados y obten un descuento en cada compra</h1>
    <br><br>
    <div class="row">    
        <form id="miformulario" action="">
    
            <div class="inputBox">
                 <label for="nombre">Nombre:</label>
                 <input type="text" id="nombre" name="nombre" required>
                 <span id="errorNombre" class="error"></span>
            </div>
            <div class="inputBox">
                <label for="correo">Correo Electrónico:</label>
                <input type="email" id="correo" name="correo" required>
                <span id="errorCorreo" class="error"></span>
            </div>
            <div class="inputBox">
                <label for="contrasena">Contraseña (más de 6 caracteres):</label>
                 <input type="number" id="contrasena" name="contrasena" required>
                 <span id="errorContrasena" class="error"></span>
            </div>
            <div class="inputBox">
                <label for="numeros">Tarjeta:</label>
                <input type="number" id="numeros" name="numeros" required>
                <span id="errorNumeros" class="error"></span>
            </div>
    
            <input type="submit" value="Registrar">
    
        </form>
    
    </div>
    </section>

<!--FIN SECCION CONTACTO-->
<!--INICIO SECCION INFO-->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Sobre nosotros</h3>
            <p>Somos un grupo de vecinos que vende articulos de jardineria para ayduar a una fundacion sin fines de lucro</p>
        </div>
        <div class="box">
            <h3>Enterate del clima para tu compra presencial</h3>
            <a href="#" id="resultado"></a>
            <script src="{% static 'js/clima.js' %}"></script>

        </div>
        <div class="box">
            <h3>Siguenos en nuestras redes</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
        </div>

    </div>

    <h1 class="credit"> | Todos los derechos reservados| </h1>
    
</section>

<a href="#home" class="scroll-top fas fa-angle-up"></a>

<!--FIN SECCION INFO-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script src="{% static 'js/validarjquery.js' %}"></script>

</body>
</html>